.Displays {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.input {
    text-align: right;
    font-size: 3em;
}

.output {
    text-align: right;
    font-size: 4em;
}